// Custom variables
$primary: #ff5800;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: $primary;
$light: #fdfffc;
$dark: #1b1b1b;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// RESET
@import "scss-reset/reset";

// BOOTSTRAP
@import "bootstrap/scss/bootstrap";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

// CUSTOM

body {
  font-family: "Outfit", sans-serif;
}

// NAVBAR
header {
  .navbar-nav {
    & .nav-link {
      color: $dark;
    }
  }

  & .logo-img {
    width: 35px;
  }
}

// HERO-IMAGE
.hero-image {
  height: 600px;

  img {
    position: absolute;
    border-radius: 10px;

    &:nth-child(1) {
      z-index: 1;
      width: 100%;
    }

    &:nth-child(2) {
      z-index: 2;
      left: -5%;
      width: 70%;
    }

    &:nth-child(3) {
      z-index: 3;
      top: 0%;
      right: 5%;
      width: 50%;
    }
  }
}

// RESPONSIVE
@media (max-width: 1188px) {
  .hero-image {
    img {
      &:nth-child(3) {
        top: 11%;
      }
    }
  }
}

@media (max-width: 980px) {
  .hero-image {
    flex-direction: column;
    gap: 20px;
    height: auto;
    img {
      position: relative;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        position: relative;
        width: 100%;
        top: initial;
        left: initial;
        right: initial;
      }
    }
  }
}
